apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-ingress
  namespace: argocd
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTPS":443}]'
    alb.ingress.kubernetes.io/certificate-arn: "{{ tf_output.acm_arn.value }}"
    alb.ingress.kubernetes.io/load-balancer-name: "{{ tf_output.alb_name.value }}"
    alb.ingress.kubernetes.io/backend-protocol: HTTP
    alb.ingress.kubernetes.io/group.name: argocd
    alb.ingress.kubernetes.io/ssl-redirect: '443'
  labels:
    app.kubernetes.io/name: argocd
spec:
  ingressClassName: alb
  rules:
    - host: argocd.test.dev.careerbee.co.kr
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: argocd-server
                port:
                  number: 80